
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493212378207'); /* IE9*/
  src: url('iconfont.eot?t=1493212378207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493212378207') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493212378207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493212378207#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before { content: "\e69b"; }

.icon-huidaodingbu:before { content: "\e666"; }

.icon-fangxingxuanzhongfill:before { content: "\e721"; }

.icon-fenxiang:before { content: "\e739"; }

.icon-airplane:before { content: "\e73d"; }

